{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Restaurant{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Bienvenue au Quai Antique</h1>
    <p class="lead">
        Découvrez notre cuisine authentique et savoureuse dans un cadre chaleureux.
    </p>
</div>
{% endblock %}
